*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(netflix_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar button{
    border: none;
    outline: none;
    width: 60px;
    height: 25px;
    background-color: #E50914;
    border-radius: 2px;
}
.navbar a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
#btn1{
    margin-left: 65%;
    cursor: pointer;
}
#btn2{
    margin-right: 40px;
    cursor: pointer;
}
section{
   align-items: center;
   justify-content: center;
   margin-left: 33%;
   margin-top: 6%;
}
section h1,p{
    color: #fff;
    letter-spacing: 1px;
}
section h1{
    font-size: 50px;
    text-align: justify;
    padding-top: 10px;
}
section p{
    font-size: large;
    text-align: justify;
    padding-top: 10px;
}
section input{
    margin-top: 20px;
    height: 38px;
    width: 43%;
    padding-left: 20px;
    border-radius: 2px;
    border: none;
    outline: none;
}
#btn3{
    width: 100px;
    height: 39px;
    background-color: #E50914;
    border: none;
    outline: none;
    border-radius: 2px;
}
#btn3 a{
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
#btn3:hover{
    cursor: pointer;
}